.userTable {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  }
  .userTable table {
    width: 100%;
    margin-top: 30px;
  }
  .userTable table thead th {
    background-color: darkcyan !important;
    color: white !important;
  }
  
  .userTable table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .actionButtons button {
    margin: 0 10px;
  }

  .noData{
    margin-top: 20px;
    text-align : center;
  }

  .business-card-content {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #eee;
}

.card-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Mobile-friendly amélioré */
@media (max-width: 768px) {
    .business-card-content {
        text-align: center;
        padding: 20px;
    }

    .card-photo {
        width: 80px;
        height: 80px;
    }

    .contact-info p {
        font-size: 14px;
    }
}

  